body, html {
  font-family: 'IBM Plex Sans', sans-serif;
  color:#313639;
  height: 100%;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #474747;
}

p {
  color: #474747;
  font-weight:300;
  font-size: 14px;
}

.container {
  margin-top: 200px;
}


.intro-text {
  margin-left: 80px;
  max-width: 600px;
  min-height: 100%;
  float: left;
}

.fab, .fas {
  margin-right: 40px;
  color: #313639;
}

.icons {
  margin-top: 50px;
}


#diamond {
	width: 0;
	height: 0;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  border: 12px solid transparent;
	border-bottom-color: #a5b6ed;
	position: relative;
	top: -12px;
}
#diamond:after {
	content: '';
	position: absolute;
	left: -12px;
	top: 12px;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-top-color: #a5b6ed;
}
