body, html {
  font-family: 'IBM Plex Sans', sans-serif;
  color:#313639;
  height: 100%;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #474747;
}

p {
  color: #474747;
  font-weight:300;
  font-size: 14px;
}

.container {
  margin-top: 200px;
}


.intro-text {
  margin-left: 80px;
  max-width: 600px;
  min-height: 100%;
}

.buttons {
  margin-top: 30px;
  margin-bottom: 50px;
}

.fab {
  margin-right: 40px;
  color: #313639;
}
