body, html {
  font-family: 'IBM Plex Sans', sans-serif;
  color:#000000;
  height: 100%;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}
