.jumbotron-wfn {
  background: url(../img/thumbnails/thumbnail-founders.png);
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 330px;
}

.jumbotron-htv {
  background: url(../img/thumbnails/thumbnail-htv.png);
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 330px;
}

.jumbotron-tps {
  background: url(../img/thumbnails/thumbnail-tps.png);
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 330px;
}

.jumbotron-p5k {
  background: url(../img/thumbnails/thumbnail-p5k.png);
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 330px;
}

.container {
  display: block;
    margin: 0 auto;
    max-width: 800px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}
