.container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 100px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.subtitle-italic {
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
}

.block {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  pointer-events: none
}

.highlight {
    color:#000;
    background:#adc1f2;
}

b {
  font-weight: 500;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight:300;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-weight: 500
}